@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    font-family: 'Sriracha';

}

h1 {
    font-family: 'Passion One';
}

#imagem {
    color: white;
    height: 500px;
    width: 500px;
    background-image: url(imagens/background001.jpg);
    background-size: 500px 500px;
    background-repeat: no-repeat;
}

pre {
    position: relative;
    height: 300px;
    width: 200px;
    
}